{% extends 'partials/header.html' %}
{% block content %}



        {% for todo in todos %}
        <table class="table table-bordered">
          <th>
            Title
          </th>
          <th>
            Todo Task
          </th>
          <tbody>
            <th>
              <a href="/todos/details/{{todo.id}}">{{todo.title}}</a>
            </th>
            <th>{{todo.text}}</th>
          </tbody>
        </table>
        {% endfor %}
        <a href="/todos/add/"><button type="submit" class="btn btn-default">Add Task</button></a>



{% endblock %}
